/**
 * These are the styles for the HTML form
 *
 * style.css
 * (c) January 2016 Senn Coding Club
 **/

/** the color scheme is warm colors
 * the headers are undetermined
 * the content pane is undetermined
 **/

	/* all fonts on the page should be sans-serif */
body {
	font-family : "Arial", "Helvetica", sans-serif;
	margin-left: 20%;
	margin-right: 20%;
  background-color:	ffffff;
}


 /* */
h1 {
  height:50px;
  background-color :#F1D302;
	color : #000000;
  text-align: center;
}

form{
  text-align: right;
  font-weight:bold;
   Background-color: #FFA500;
   height: 500px;
    

}
output{
    color:white
}
p{
    color: #ffffff;
        margin-right: 1%
}
#description {
	font-weight:bold;
  color: #ffffff;
}

select{
    margin-right: 1%
}
img{
    margin-right: 700px;
    margin-top:-100%;
}